<div mat-dialog-content>

    <div class="row">
        <mat-form-field class="fill col-sm-6">
            <mat-label>Job Title</mat-label>
            <input matInput [(ngModel)]="data.jobTitle">
        </mat-form-field>
        <mat-form-field class="fill col-sm-6">
            <mat-label>Company Name</mat-label>
            <input matInput [(ngModel)]="data.companyName">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="fill col-sm-6">
            <mat-label>Start Date</mat-label>
            <mat-select matInput>
                <mat-option value="" disabled>Select Starting Year</mat-option>
                <mat-option [(ngModel)] = "data.startDate"></mat-option>
            </mat-select>

        </mat-form-field>
        <mat-form-field class="fill col-sm-6">
            <mat-label>End Date</mat-label>
            <mat-select matInput>
                <mat-option value="" disabled>Select Ending Year</mat-option>
            </mat-select>

        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="fill col-sm-12">
            <textarea matInput></textarea>
        </mat-form-field>

    </div>
</div>
<div mat-dialog-actions>
    <!-- <div class = "row"> -->
        
        <button mat-button class="btn btn-square btn-block btn-secondary active" (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.animal" class="btn btn-square btn-block btn-success active"
            cdkFocusInitial>Update Qualification</button>
    <!-- </div> -->
</div>