<div class="container p-0">
  <div class="row">
    <div class="col-xl-12">
      <div class="tab-content">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">
              <mat-icon>security</mat-icon>&nbsp;&nbsp;&nbsp;MY Projects
            </h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Show Projects</mat-label>
                <mat-select matInput>
                  <mat-option value="">
                    10
                  </mat-option>
                  <mat-option value="">
                    25
                  </mat-option>
                  <mat-option value="">
                    50
                  </mat-option>
                  <mat-option value="">
                    100
                  </mat-option>
                </mat-select>
                <mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
            <table  class="table table-hover table-bordered align-middle text-center table-outline">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Description</th>
                  <th>Initial&nbsp;Date</th>
                  <th>Due&nbsp;Date</th>
                  <th>Percentage</th>
                  <th>Value</th>
                  <th>Total Invites</th>
                  <th>Accepted Invites</th>
                  <th>Rejected Invites</th>
                  <th>Add Team</th>
                  <th>Invite</th>
                </tr>
              </thead>
              <tbody *ngIf="userObj.length == 0">
                <tr>
                  <td colspan="11" style="text-align: center;"><h2 style="margin-left: 10%;">No record Found</h2></td>
                </tr>
                <!-- <h2 style="margin-left: 10%;">No record Found</h2> -->
              </tbody>
              <tbody *ngIf="userObj.length > 0">
                <tr *ngFor='let obj of userObj'>
                  <td>{{obj.name}}</td>
                  <td>{{obj.description}}</td>
                  <td>{{obj.started_at.slice(0,10)}}</td>
                  <td>{{obj.ended_at.slice(0,10)}}</td>
                  <td>{{obj.progress}}%</td>
                  <td>{{obj.value}}</td>
                  <td>{{obj.total_invites}}</td>
                  <td>{{obj.total_accepted_invites}}</td>
                  <td>{{obj.total_rejected_invites}}</td>
                  <td><button (click)="addTeam(obj.id, obj.name)" class="btn btn-primary">Add</button></td>
                  <td><button (click)="invite(obj.id, obj.name)" class="btn btn-success">Invite</button></td>
                </tr>

              </tbody>
            </table>
          </div>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>