<div class="card">
  <div class="card-header">
    <strong>Add Module</strong> Form
  </div>
  <div class="card-body">
    <form name="createModuleForm" [formGroup]="createModuleForm" (ngSubmit)="onClickSubmit(createModuleForm.value);"
      novalidate>
      <div class="form-group" >
        <mat-form-field appearance="fill" style="padding-left: 1%; width: 100% !important;">
          <mat-label>Enter Name</mat-label>
          <input matInput formControlName="name">
          <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
          <mat-error>
             Name is required
          </mat-error>
      </mat-form-field>
        
        <!-- <label for="nf-name">Name</label>
        <input type="text" formControlName="name" id="name" name="name" class="form-control" placeholder="Enter Name"
          autocomplete="Name">
        <span class="help-block">Please enter your Name</span> -->
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" style="padding-left: 1%; width: 100% !important;">
          <mat-label>Enter Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
          <mat-error>
             Description is required
          </mat-error>
      </mat-form-field>
      </div>
      <!-- <div class="form-group">
          <select formControlName = "moduleNameList"  class="form-control" (change)= "onModuleValueClick($event);">
            <option value = "" disabled>Select Module Name</option>
            <option *ngFor = "let obj of showModuleList" [value] = "obj.id">
              {{obj.name}}</option>
          </select>
        </div> -->
      <div class="form-group">
        <mat-form-field appearance = "fill" style="padding-left: 1%; width: 100% !important;">
          <mat-label>Select Model</mat-label> 
          <mat-select formControlName="modelNameList" class="form-control" (selectionChange)="onModelValueClick($event.value);">
            <mat-option value="" disabled>Select Model Name</mat-option>
            <mat-option *ngFor="let obj of showModelList" [value]="obj.name">{{obj.name}}</mat-option>
          </mat-select>
          <mat-error>
            Model is required
        </mat-error>

        </mat-form-field>
        
      </div>
      <div class="form-group">
        <mat-form-field appearance = "fill" style="padding-left: 1%; width: 100% !important;">
          <mat-label>Select End Point</mat-label> 
        
          <mat-select formControlName="endPointsList" class="form-control">
            <mat-option value="" disabled> Select End Point</mat-option>
            <mat-option *ngFor="let obj of showEndPointsList" [value]="obj.name">{{obj.name}}</mat-option>
          </mat-select>
          <mat-error>
            End Point is required
        </mat-error>
        </mat-form-field>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Add Module</button>
      </div>
    </form>
  </div>

</div>
