<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="top-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Social</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div> -->
    <div class="img" style="    background-image: linear-gradient(150deg, rgba(63, 174, 255, .3)15%, rgba(63, 174, 255, .3)70%, rgba(63, 174, 255, .3)94%), url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);
    height: 350px;background-size: cover;"></div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                <h3 class="text-truncate">{{user_name}}</h3>
                <p class="text-truncate">{{email}}</p>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <ul class=" nav nav-tabs justify-content-center s-nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div *ngFor='let obj of userObj' class="card-body info-card social-about">
                    <div class="row"> 
                        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                            <h1 class="text-blue text-truncate" style="text-align: center;">
                                About <u>{{user_name}}</u>
                            </h1>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <button *ngIf='isEdit == true' (click)="isEditFunc()" style="float: right;"
                            class="btn btn-lg btn-block btn-primary">Edit</button>
                        <button *ngIf='isEdit == false' (click)="updateProfile()" style="float: right;"
                            class="btn btn-lg btn-block btn-success">Update</button>
                        </div>
                    </div>
                    <!-- <h1 class="text-blue" style="margin-left: 40%;">
                        About <u>{{user_name}}</u>
                        <button *ngIf='isEdit == true' (click)="isEditFunc()" style="float: right;"
                            class="btn btn-primary">Edit</button>
                        <button *ngIf='isEdit == false' (click)="updateProfile()" style="float: right;"
                            class="btn btn-success">Update</button>
                    </h1> -->
                    <br><br><br>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center"> 
                            <div class="social-info">
                                <p class="text-truncate"><i class="fas fa-user mr-2"></i>Name: {{obj.user_name}}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center"> 
                            <div class="social-info">
                                <p class="text-truncate"><i class="fas fas fa-envelope mr-2"></i>Email:{{obj.email}}</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <form #f="ngForm">
                        <mat-form-field *ngIf='isEdit == false' appearance="fill" style="display: block;">
                          <mat-label>Password</mat-label>
                          <input (change)= "onChangePassword($event);" matInput type="password" name="password" ngModel required #value="ngModel">
                        </mat-form-field>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>