<div class="container p-0">

  <!-- <h1 class="h3 mb-3">QUALIFICATION</h1> -->

  <div class="row">
    <div class="col-md-7 col-xl-12">
      <div class="tab-content">

        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">
              <mat-icon>security</mat-icon>&nbsp;&nbsp;&nbsp;CERTIFICATES
            </h5>
          </div>
          <div class="card-body">
            <div class="form-group">

              <mat-form-field appearance="fill" class="col-md-4">
                <mat-label>Show Entries</mat-label>
                <!-- <mat-icon matPrefix>category</mat-icon> -->
                <mat-select matInput>
                  <mat-option value="">
                    10
                  </mat-option>
                  <mat-option value="">
                    25
                  </mat-option>
                  <mat-option value="">
                    50
                  </mat-option>
                  <mat-option value="">
                    100
                  </mat-option>

                </mat-select>
                <mat-error>
                  <!-- Facebook Url is required -->
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="col-md-4" style="float: right;">
                <mat-label>Search</mat-label>
                <!-- <mat-icon matPrefix>category</mat-icon> -->
                <input matInput>

                <mat-error>
                  <!-- Facebook Url is required -->
                </mat-error>
              </mat-form-field>


            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th></th>
                  <th>Certificate Title</th>
                  <th>Issue Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>Pompeius René</td>
                  <td>2012/01/01</td>
                  <td>
                    <button mat-raised-button (click) = "openDialog();" class="btn btn-pill btn-block btn-success active">
                      Edit
                    </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li> -->
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
